<launch>

<arg name="world" default="empty_world.world"/>

    <include file="$(find stingray_sim)/launch/gazebo_base.launch">
        <arg name="world" value="$(arg world)"/>
    </include>

    <node pkg="stingray_sim" name="odom_publisher" type="position_publisher.py"/>
    <node pkg="stingray_sim" name="path_drawing" type="draw_path.py"/>
    
</launch>
